
/* font styel */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    /*header */
.header{
   background-image: url('../images/developer.png'),  url('../images/header_bg.png');
   background-repeat: no-repeat; background-position: top left, bottom right;
}

/*url('../Media/Hall\ room\ empty.jpg'),

/* Nav style */
nav{
   display: flex;
}
button{
   font-weight: bolder;
   color: #ffffff;
   font-size:15px;
   padding:7px 13px;
   border-radius:6px;

}
.nav-title{
   font-weight: bolder;
   font-size:30px;
   padding: 0 0 0 90px;
}

/* shared style */ 
.text-primary{
   color: #FD6E0A;
}
nav ul li{
   list-style: none;
   font-size:18px;
   margin-right:40px;
   
}
nav li a{
   text-decoration: none;
    color: #474747;
}
nav ul{
   display: flex;
   align-items: center;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 90px;
}
.btn-primary{
   background-color: #FD6E0A;
   border: none;
    font-weight: bolder;
   color: #ffffff;
   font-size:15px;
   padding:7px 13px;
   border-radius:6px;
} 
.dark2{
   color:#474747;
}
.text-center{
   text-align: center;
}

/*bannar style */
   
.bannar-greetings{
   font-size: 40px;
   font-weight:200px;
}
.bannar-title{
   font-size:50px ;
   font-weight:bold;
}
.bannar{
   display: flex; 
   justify-content: space-between;
   margin: 0 230px 0 230px;
}
.banner-content{
   max-width: 580px;
}
.bannar-profile-photo{
 
}
.section-title{
   font-size: 50px;
   font-weight: bold;
   color: #181818;
}
.section-description{
   font-size: 25px;
   color: #757575;
   margin-bottom: 50px;
}

.secondary-bg{
   background-color: #FFF8F3;
   
   
}

/* Main Section Style*/

/* main Style*/
main{
   max-width: 1750px;
   margin:0px 200px 0px 300px;
}
main section{
   margin-top: 30px;
   margin-bottom: 80px;
}

.secondary-ban{
   background-color:  #f8cfb2;
   padding: 0px;
   margin: 0 250px 0 250px;
   text-align: center;
   border-radius: 20px;
}
/* Skills section Style*/
.skills-containar{
display:flex;
gap: 25px;
}
.skill{
   padding:30px; border-radius: 05px;
   box-shadow: 0px 6px 50px 0px #c9c9c9;
}








footer{
   padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column{
   width: 50%;
}

footer input[type="text"], [type="Your E-mail"], [type="What's App"], textarea{
   height: 30PX;
   border-radius: 5px;
   background-color: white;
   display: block; 
   font-size: 17px;
   padding: 10px 10px;
   margin-bottom: 25px;
   width: 100%;
   border: none;
font-family: "Open Sans", sans-serif;
}







